{% extends 'layout/main.html.twig' %}

{% block title %}
  Dashboard
{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1>Dashboard
                    <small>Statistics and more</small>
                </h1>
                <div class="alert alert-dismissable alert-warning">
                    <button data-dismiss="alert" class="close" type="button">&times;</button>
                    Welcome to the admin dashboard! Feel free to review all pages and modify the layout to your needs.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
