<template>
    <div id="invoice_create-form" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        Create Invoice
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input type="text"
                                   class="form-control"
                                   ref="vendor"
                                   placeholder="Vendor Name"
                                   value="BonBonSlick">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-tag"></i>
                        </span>
                            <input type="text"
                                   class="form-control"
                                   ref="category"
                                   placeholder="Category Name"
                                   value="BonBonSlickCat">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                            <input type="number"
                                   class="form-control"
                                   ref="price"
                                   placeholder="Type your price $$$">
                        </div>
                    </div>

                    <div class="form-group text-danger">
                        {{ error }}
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" @click="save">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                error: '',
                formSending: false,
            }
        },
        methods: {
            save() {
                let self = this;
                if (self.formSending) return;
                self.formSending = true;
                self.error = '';
                let formData = new FormData();
                formData.append('vendor', this.$refs.vendor.value);
                formData.append('category', this.$refs.category.value);
                formData.append('price', this.$refs.price.value);
                axios.post(`/invoices/save`, formData)
                    .then(response => {
                        if (response.data.created) {
                            Bus.$emit('loadCoupons');
                        }
                        if (response.data.errors) {
                            self.error = response.data.message;
                        }
                        self.formSending = false;
                    });
            },
        },
    }
</script>
