<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="col-md-11">
                        <span class="panel-title">
                            <i class="fa fa-dollar"></i>
                            Invoices
                        </span>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-default pull-right btn-sm"
                                data-toggle="modal" data-target="#invoice_create-form">
                            <i class="fa fa-plus"></i>
                        </button>
                        <invoices-create-form> </invoices-create-form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-dark table-hover  table-sm   table-sm ">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Vendor Name</th>
                                <th>Price <i class="fa fa-dollar"></i></th>
                                <th>Category</th>
                                <th class="text-center">Paid</th>
                                <th class="text-center">Invoiced At</th>
                                <th class="text-center">Paid At</th>
                                <th style=" width: 55px;" class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th scope="row">#</th>
                                <td>Vendor Name</td>
                                <td>Price <i class="fa fa-dollar"></i></td>
                                <td>Category</td>
                                <td class="text-center">Paid</td>
                                <td class="text-center">Invoiced At</td>
                                <td class="text-center">Paid At</td>
                                <td class="text-center">Actions</td>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr v-for="(item, index) in invoices" :key="index">
                                <td>{{item.id}}</td>
                                <td>{{item.vendor.name}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.category.name}}</td>
                                <td class="text-center">
                                      <span v-show="item.isPaid" class="label label-success">
                                         Yes
                                      </span>
                                    <button :id="'pay-btn-' + item.id"
                                            v-show="!item.isPaid"
                                            type="button"
                                            @click="payInvoice(item.id, index)"
                                            class="btn btn-default btn-sm">
                                        No
                                    </button>
                                </td>
                                <td class="text-center">
                                    {{ moment(item.createdAt.date ).format('MMMM Do YYYY, h:mm:ss a') }}
                                </td>
                                <td class="text-center">
                                    <span v-if="item.updatedAt">
                                       {{ moment(item.updatedAt.date ).format('MMMM Do YYYY, h:mm:ss a') }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-default btn-sm"
                                            @click="deleteInvoice(item.id, index)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let moment = require('moment');
    export default {
        props: [],
        data() {
            return {
                invoices: []
            }
        },
        mounted() {
            console.log('Component mounted.');
            let self = this;
            self.getInvoices();
            Bus.$on('loadCoupons', function () {
                self.getInvoices();
            })
        },
        methods: {
            moment: function () {
                return moment();
            },
            getInvoices() {
                axios.get('/api/invoice-list')
                    .then(response => {
                        this.invoices = response.data;
                    });
            },

            deleteInvoice(id, index) {
                axios.post(`/invoices/${id}/delete`)
                    .then(response => {
                        if (response.data.deleted) {
                            this.getInvoices();
                        }
                    });
            },

            payInvoice(id, index) {
                axios.post(`/invoices/${id}/pay`)
                    .then(response => {
                        if (response.data.updated) {
                            this.getInvoices();
                        }
                    });
            },
        },
    }
</script>
