<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>

    <meta charset="UTF-8">

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link href="{{ asset('css/local.css') }}" rel="stylesheet"/>
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"/>

    {% block stylesheets %}
    {% endblock %}

</head>
<body>

<header>
    <section>
        {% block header %}
        {% endblock %}
    </section>
</header>

<main>
    <div id="wrapper">
        {% include 'layout/navigation.html.twig' %}
        <div id="app">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</main>

<footer>
    <section>
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
    </section>
</footer>

</body>
</html>
